body,
html {
  height: 100%;
}

#root {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-image: url('./images/photo_2021-12-09_20-25-49.jpg');
  height: 100%;
  max-height: 640px;
  background-repeat: no-repeat;
  transition: 0.4s ease;
  position: relative;
  width: 360px;
}

.container.cold {
  background-image: url('./images/photo_2021-12-09_20-25-26.jpg');
}

.search-input {
  width: 100%;
  display: block;
  box-sizing: border-box;
  border: none;
  outline: none;
  border-radius: 0px 0px 16px 16px;

  padding: 15px;

  background-color: rgba(255, 255, 255, 0.5);

  color: #070101;
  font-size: 20px;

  transition: 0.4s ease;

  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.search-input:focus {
  background-color: rgba(255, 255, 255, 0.75);
  padding-left: 25px;
}

.location-wrapper .location {
  color: #fff;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
  text-align: center;
  font-size: 32px;
  font-weight: 500;
}

.location-wrapper .date {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
}

.weather-wrapper {
  text-align: center;
}

.weather-wrapper .temp {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  padding: 15px 25px;
  margin: 30px auto;

  color: #fff;
  text-shadow: 3px 6px rgba(50, 50, 70, 0.5);
  font-size: 102px;
  font-weight: 900;
  box-shadow: 3px 6px rgba(0, 0, 0, 0.2);

  display: inline-block;
}

.weather-wrapper .weather {
  color: #fff;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
  font-size: 48px;
  font-weight: 700;
}

.loader {
  border: 4px solid #f3f3f3; /* Light grey */
  border-top: 4px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 12px;
  height: 12px;
  animation: spin 2s linear infinite;
  position: absolute;
  top: 15px;
  left: 4px;
}

.error {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
